<nav id="navbar" class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <div id="commsy_logo"/>
        <a id="commsy_logo" class="uk-navbar-item uk-logo" href="#">
            <img class="uk-responsive-height" src="img/commsy_logo_120.png"/>
        </a>

        <a class="uk-navbar-item uk-logo" href="#">
            <img class="uk-responsive-height" src="img/uhh-logo-web.gif"/>
        </a>
    </div>

    <div class="uk-navbar-right">
        <a class="uk-navbar-toggle uk-hidden@s" href="#offcanvas" uk-navbar-toggle-icon uk-toggle></a>

        <ul class="uk-navbar-nav uk-visible@s">
            <li>
                <a href="#">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: question"></span>
                    Hilfe
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: info"></span>
                    Support
                </a>
            </li>
        </ul>
    </div>
</nav>